<div class="container-fluid">
  <div class="form-container">
    <h1>Rate my cakes</h1>
    <h2>Submit a cake to be rated</h2>
    <form (submit)="onSubmit($event)" class="form-group" #cakeForm = "ngForm">
      <h3>Baker name:</h3>
      <input type="text" name="baker" [(ngModel)]="newCake.baker" class="form-control">
      <h3>Image url:</h3>
      <input type="text" name="imageUrl" [(ngModel)]="newCake.imageUrl" class="form-control">
      <br>
      <input type="submit" value="Add Cake" class="btn btn-primary">
    </form>
  </div>
  <div class="cakes-container" *ngIf="cakes.length > 0">
    <h2>All Cakes</h2>
    <div class="cake" *ngFor="let cake of cakes">
      <h1><img (click)="getCakeDetails(cake._id)" src="{{cake.imageUrl}}" alt="cake {{cake._id}}"></h1>
      <form (submit)="onReviewSubmit($event, cake._id)" class="cake-review-form form-group">
        <h3>Star Rating</h3>
        <select name="starRating" class="form-control" [(ngModel)]="newReview.starRating">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
        <h3>Comment</h3>
        <textarea name="comment" cols="30" rows="2" class="form-control" [(ngModel)]="newReview.comment"></textarea>
        <input type="submit" value="Submit Review" class="btn btn-secondary">
      </form>
    </div>
  </div>
</div>

<app-cake-details *ngIf="cake" [cake]="cake" [reviews]="reviews" [reviewAverage]="reviewAverage"></app-cake-details>
