img{
  width: 250px;
}
.form-container, .cakes-container{
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}
.form-container{
  width: 40%;
}
.cakes-container{
  width: 60%;
  height: 400px;
  overflow: scroll;
}
textarea{
  resize: none;
}
