<style>
.task-container{
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}
.form-container{
  padding: 20px;
}
.task-details-container, .task-edit-form{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
</style>
<div class="form-container">
  <form (submit)="createTask()">
    <h1>Title</h1>
    <input type="text" name="title" [(ngModel)]="newTask.title"><br>
    <h1>Description</h1>
    <input type="text" name="description" [(ngModel)]="newTask.description"><br>
    <input type="submit" value="Create Task" />
  </form>
</div>

<button (click)="getTasksFromService()">Show All Tasks</button>
<button (click)="hideAllTasks()">Hide Tasks</button>

<app-task-list *ngIf="tasks" [tasks]="tasks"></app-task-list>


