<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="nav-brand bg-dark">Team Manager App</h1>
  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto bg-dark">
          <li class="bg-dark">
              <span class="fas fa-home bg-dark"></span>
          </li>
          <li class="nav-item active bg-dark">
              <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="bg-dark">
              <span class="fas fa-users bg-dark"></span>
          </li>
          <li class="nav-item active bg-dark">
              <a class="nav-link" [routerLink]="['/players']">Manage Players</a>
          </li>
          <li class="bg-dark">
              <span class="fas fa-users-cog bg-dark"></span>
          </li>
          <li class="nav-item active bg-dark">
              <a class="nav-link" [routerLink]="['/status']">Manage Player Status</a>
          </li>
      </ul>
  </div>
</nav>
