<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit New Car</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <nav class="nav-bar">
        <a href="/" class="col">Home</a>
        <a href="/cars" class="col">Cars</a>
        <a href="/cats" class="col">Cats</a>
        <a href="/cars/new" class="col">Add Car</a>
        <a href="/nonexistent" class="col">Test Error</a>
    </nav>
    <h1>Submit New Car</h1>
    <div class="container-fluid">
        <form action="">
            <h2>Manufacturer</h2><input type="text" name="" placeholder="Enter car's manufacturer" class="form-control">
            <h2>Model</h2><input type="text" name="" placeholder="Enter car's model" class="form-control">
            <h2>Make</h2><input type="text" name="" placeholder="Enter car's make" class="form-control">
            <h2>Color</h2><input type="text" name="" placeholder="Enter car's color/colors" class="form-control">
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
</body>
</html>